body{
    margin:0;
    justify-content: center;
    display: flex;
    height: 100vh;
    align-items: center;
    text-align: center;
    background-color: yellow;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.form{
    background-color: rgb(255, 255, 255);
    padding: 20px;
    box-shadow: 0 4px 8px rgb(0,0,0, .3);
    border-radius: 10px;
}

.input{
    display: block;
    width: 100%;
    box-sizing: border-box;
    font-size: 30px;
    text-align: center;
    padding: 10px;
    border: solid 4px green;
    color: green;
}

.input::placeholder{
    color: lightgray;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.btn{
    background-color: green;
    color: white;
    border: none;
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px 0;
    box-shadow: 0 4px 8px rgb(0,0,0, .3);
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover{
    filter:brightness(0.9)
}

.score{
    color: green;
    text-align: right;
}